@charset "UTF-8";
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
@import url("//fonts.googleapis.com/css?family=Oxygen%3A400%2C400italic%2C600 italic%2C700");
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-size: 16px; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?105nih");
  src: url("../fonts/icomoon.eot?#iefix105nih") format("embedded-opentype"), url("../fonts/icomoon.woff?105nih") format("woff"), url("../fonts/icomoon.ttf?105nih") format("truetype"), url("../fonts/icomoon.svg?105nih#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-file:before {
  content: "\e601"; }

.icon-envelope:before {
  content: "\e602"; }

.icon-user:before {
  content: "\e603"; }

.icon-menu:before {
  content: "\e604"; }

.icon-link:before {
  content: "\e605"; }

.icon-arrow-right:before {
  content: "\e600"; }

.icon-instagram:before {
  content: "\e607"; }

.icon-twitter:before {
  content: "\e606"; }

.icon-dribbble:before {
  content: "\e608"; }

.icon-deviantart:before {
  content: "\e609"; }

.icon-github:before {
  content: "\e60a"; }

.icon-linkedin:before {
  content: "\e607"; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  -webkit-font-smoothing: subpixel-antialiased; }
@-webkit-keyframes boxy {
  0% {
    transform: rotate(0deg);
    /* transform:scale(0); */ }

  25% {
    transform: rotate(45deg);
    transform: scale(1.5);
    color: blue; }

  50% {
    transform: rotate(90deg); }

  75% {
    transform: rotate(135deg);
    transform: scale(0.8); }

  100% {
    transform: rotate(180deg);
    transform: scale(1); } }
@-moz-keyframes boxy {
  0% {
    transform: rotate(0deg);
    /* transform:scale(0); */ }

  25% {
    transform: rotate(45deg);
    transform: scale(1.5);
    color: blue; }

  50% {
    transform: rotate(90deg); }

  75% {
    transform: rotate(135deg);
    transform: scale(0.8); }

  100% {
    transform: rotate(180deg);
    transform: scale(1); } }
@keyframes boxy {
  0% {
    transform: rotate(0deg);
    /* transform:scale(0); */ }

  25% {
    transform: rotate(45deg);
    transform: scale(1.5);
    color: blue; }

  50% {
    transform: rotate(90deg); }

  75% {
    transform: rotate(135deg);
    transform: scale(0.8); }

  100% {
    transform: rotate(180deg);
    transform: scale(1); } }
@-webkit-keyframes hover {
  0% {
    transform: translateY(0px); }

  50% {
    transform: translateY(-4px); }

  100% {
    transform: translateY(4px); } }
@-moz-keyframes hover {
  0% {
    transform: translateY(0px); }

  50% {
    transform: translateY(-4px); }

  100% {
    transform: translateY(4px); } }
@keyframes hover {
  0% {
    transform: translateY(0px); }

  50% {
    transform: translateY(-4px); }

  100% {
    transform: translateY(4px); } }
.fl {
  float: left; }

.fr {
  float: right; }

.tr {
  text-align: right; }

.tl {
  text-align: left; }

img {
  width: 100%;
  border: 0; }

hr {
  border-top: 1px solid #ddd; }

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  color: #111111;
  background: white;
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

a {
  font-weight: 700;
  color: #111111;
  text-decoration: none; }
  a:hover {
    color: #2196f3; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.5em; }

::selection {
  color: white;
  background: #111111; }

::-moz-selection {
  color: white;
  background: #111111; }

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0 1em; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.topbar {
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  z-index: 100;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  background: #FFF;
  text-align: center; }
  .topbar #logo .logo {
    display: block;
    font-family: "Oxygen", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    color: #111111; }
  .topbar #logo .my-title {
    display: block;
    margin: -2px 0 0 0;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(17, 17, 17, 0.4);
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }
  .topbar #logo:hover .my-title {
    color: #2196f3; }
  @media screen and (min-width: 60em) {
    .topbar {
      padding: 25px 0;
      text-align: left; }
      .topbar #logo {
        float: left; }
        .topbar #logo .my-title {
          float: left; } }

.main-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .main-nav:last-child {
    margin-right: 0; }
  .main-nav li {
    display: inline-block;
    padding: 0;
    margin: 18px 16px 0 16px; }
  .main-nav a {
    font-size: 1.2em; }
  @media screen and (min-width: 60em) {
    .main-nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding-top: 10px;
      padding: 0;
      margin: 0;
      list-style: none;
      float: right;
      text-align: right; }
      .main-nav:last-child {
        margin-right: 0; }
      .main-nav li {
        display: inline-block;
        padding: 0;
        margin: 8px 30px 0 0; }
        .main-nav li:hover .twitter {
          color: #4099FF; }
        .main-nav li:hover .dribbble {
          color: #E84F89; }
        .main-nav li:hover .deviantart {
          color: #62AB77; }
        .main-nav li:hover .linkedin {
          color: #2588BC; }
        .main-nav li:hover .email {
          color: #2516c7; }
      .main-nav a {
        font-size: 1.2em; } }

.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 10px 25px;
  border: 2px solid #2196f3;
  border-radius: 30px;
  background: rgba(33, 150, 243, 0); }
  .btn:hover {
    color: #FFF;
    background: #2196f3; }

.goto {
  width: 225px; }
  .goto:after {
    content: "→";
    z-index: -1;
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    margin-left: -10px;
    margin-top: -3px;
    font-size: 1.2em;
    color: white;
    -webkit-transition: margin, 0.3s, ease-in-out;
    -moz-transition: margin, 0.3s, ease-in-out;
    transition: margin, 0.3s, ease-in-out; }
  .goto:hover:after {
    display: inline-block;
    margin-left: 12px; }

.page-title {
  text-align: center;
  margin: 40px 0; }
  .page-title h1 {
    font-size: 28px;
    margin-bottom: 20px; }
  .page-title p {
    font-size: 0.9em;
    color: #664; }
  @media screen and (min-width: 60em) {
    .page-title {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%; }
      .page-title:last-child {
        margin-right: 0; }
      .page-title p {
        font-size: 1.2em; } }

footer {
  border-top: 1px solid #eee;
  padding: 40px 0;
  font-size: 0.9em;
  text-align: center; }
  footer #recentTrack {
    display: none; }
  @media screen and (min-width: 60em) {
    footer {
      font-size: 1em;
      text-align: left; }
      footer .copyright {
        float: left; }
      footer #recentTrack {
        display: block;
        float: right; }
        footer #recentTrack .soundwave {
          position: relative;
          top: 3px;
          float: left;
          margin-right: 8px;
          width: 14px;
          height: 14px;
          background-image: url("https://dl.dropboxusercontent.com/u/68882376/img/soundwave-black.gif"); }
        footer #recentTrack .song-title {
          display: inline-block; }
        footer #recentTrack .song-artist {
          display: inline; }
          footer #recentTrack .song-artist:before {
            content: " - "; } }

.hero {
  margin: 45px 0; }
  .hero h1 {
    font-size: 1.5em; }
  .hero p {
    margin-top: 25px;
    font-size: 1em;
    line-height: 1.8;
    color: #666; }
  @media screen and (min-width: 60em) {
    .hero {
      margin: 80px 0; }
      .hero h1 {
        font-size: 3.2em;
        line-height: 1.2; }
      .hero p {
        font-size: 1.2em; } }

.soon {
  color: #444;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 50px; }

.portfolio {
  background: #eee;
  padding: 60px 0 50px;
  width: 100%; }
  .portfolio figure {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background: black;
    position: relative;
    margin-bottom: 20px; }
    .portfolio figure:last-child {
      margin-right: 0; }
    .portfolio figure img {
      display: table-cell;
      opacity: 1; }
  @media screen and (min-width: 60em) {
    .portfolio:after {
      content: "";
      display: table;
      clear: both; }
    .portfolio figure {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      position: relative;
      overflow: hidden; }
      .portfolio figure:last-child {
        margin-right: 0; }
      .portfolio figure img {
        -webkit-transition: opacity, 0.3s, ease-in-out;
        -moz-transition: opacity, 0.3s, ease-in-out;
        transition: opacity, 0.3s, ease-in-out; }
        .portfolio figure img:hover {
          opacity: 0.5; } }

.work-page {
  padding: 5% 0 0;
  background: #eee; }

.info-header {
  margin: 28px 0px 32px; }
  .info-header .work-title {
    text-transform: uppercase; }
  .info-header .work-description {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .info-header .work-description:last-child {
      margin-right: 0; }
  @media screen and (min-width: 768px) {
    .info-header {
      padding: 32px 0 22px;
      margin: 28px 0px 32px; }
      .info-header:after {
        content: "";
        display: table;
        clear: both; }
      .info-header .work-title {
        margin: 10px 0 0;
        font-size: 48px; } }

.details {
  margin: 42px 0 0; }
  .details p {
    margin: 0 0 22px;
    line-height: 1.6; }
  @media screen and (min-width: 768px) {
    .details .services {
      float: left;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .details .services:last-child {
        margin-right: 0; }
    .details .work-description {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      .details .work-description:last-child {
        margin-right: 0; } }

.meta {
  padding: 16px 0;
  margin-bottom: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .meta:after {
    content: "";
    display: table;
    clear: both; }
  .meta ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .meta ul li {
      display: inline-block;
      padding: 0;
      margin-right: 5%; }
  .meta span {
    font-weight: 700; }

.support {
  background: #eee;
  padding: 5% 0; }
  .support h1 {
    margin-bottom: 16px; }
  .support p {
    margin-bottom: 16px; }
  @media screen and (min-width: 60em) {
    .support .thumbnail-web {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .support .thumbnail-web:last-child {
        margin-right: 0; } }

.go-back {
  border-top: 1px solid #eee;
  padding: 25px 0;
  color: #111111; }
  .go-back:hover {
    color: #111111;
    background: #efefef; }

.mobile-work {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .mobile-work:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .mobile-work {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-bottom: 0; }
      .mobile-work:last-child {
        margin-right: 0; } }

.web-work {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .web-work:last-child {
    margin-right: 0; }
  .web-work img {
    display: table-cell; }

#edm-republic {
  background-color: #E6368D; }
