@import 
  'tools/tools';

h5 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin-bottom: 18px;
}

.container {
  margin: 8vh;
  padding: 16px;
  max-width: 42em;
  width: 100%;
  @include media($desktop) {
    @include span-columns(6.8);
    // float: right;
    // padding: 40px 24px;
  }
}

// .hero {
//   width: 100%;
//   height: 250px;

//   .bg {
//     position: relative;
//     width: auto;
//     height: 100%;
//     background: #222 url(../img/bg.jpg) no-repeat right;
//     background-size: cover;
//   }

//   @include media($tablet) {
//     height: 400px;
//   }

//   @include media($desktop) {
//     position: absolute;
//     z-index: 10;
//     position: fixed;
//     @include span-columns(5);
//     height: 100%; 
//   }
// }

header {
  margin-bottom: 20px;

  h1 {
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.3;
  }

  .tag {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.7em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  @include media($desktop) {
    margin-bottom: 40px;

    h1 {
      font-weight: 400;
      font-size: 1.8em;
      line-height: 1.3;
    }

    .tag {
      font-size: 0.7em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

section {
  p {
    font-size: 1em;
    margin-bottom: 16px;
  }

  @include media($desktop) {
    .headline {
      font-size: 1.4em;
    }

    p {
      font-size: 1.2em;
      margin-bottom: 28px;
    }
  }
}

.links {

  li {
    margin-bottom: 10px;
  }

  @include media($desktop) {
    position: absolute;
    bottom: 8vh;

    li {
      display: inline;
      margin-right: 20px;
      // font-family: 'Helvetica Neue', sans-serif;
    }
  }
}

#recentTrack {
  display: none;
  @include media($desktop) {
    position: absolute;
    bottom: 8vh;
    right: 8vh;
    float: right;
    display: block;

    .soundwave {
      position: relative;
      top: 3px;
      float: left;
      margin-right: 8px;
      width: 14px;
      height: 14px;
      background-image: url("https://dl.dropboxusercontent.com/u/68882376/img/soundwave-black.gif");
    }

    .song-title {
      display: inline-block;
    }

    .song-artist{
      display: inline;

      &:before {
        content: " by ";
      }
    }
  }
}