@import 'bourbon/bourbon', 'neat/neat';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic|Montserrat:700,400);

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?105nih');
  src:url('../fonts/icomoon.eot?#iefix105nih') format('embedded-opentype'),
    url('../fonts/icomoon.woff?105nih') format('woff'),
    url('../fonts/icomoon.ttf?105nih') format('truetype'),
    url('../fonts/icomoon.svg?105nih#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$head-type: 'Montserrat', $helvetica;
$body-copy: 'Roboto', $helvetica;

$yellow: #e8e230;

$header-bg: $yellow url(../img/bg.jpg) no-repeat center;

html {
  -webkit-font-smoothing: antialiased;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: $helvetica;
  font-size: 1em;
  line-height: 1.6em;
  color: #111;
}

a {
  color: #111;
  text-decoration: none;

  &:hover {
    color: blue;
  }
}

img {
  width: 100%;
  border: 0;
}

.container {
  @include outer-container;
  padding: 0 16px;
}

.topbar {
  padding: 1em 0;
  height: 58px;

  @include media(769px) {
    margin-top: 10px;
    height: 65px;
  }
}

.linkto:before {
  content: "\e604";
  font-family: icomoon;
  font-size: 1.15em;
  margin-right: 15px;
  float: left;
}

.logo {
  font-family: $head-type;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

header {

  .header-image {
    width: 90%;
    z-index: 1;
    background: $header-bg;
    background-size: cover;
    height: 200px;
  }

  .header-copy {
    z-index: 3;
    margin-top: -180px;
    margin-left: 350px;
    h1 {
      float: right;
      font-family: $head-type;
      // font-size: 22px;
      text-transform: uppercase;
      letter-spacing: -1px;
      line-height: 1;
    }
  }

  @include media(769px) {
    z-index: 1;
    float: left;

    .header-image {
      width: 85%;
      z-index: 1;
      background: $header-bg;
      background-size: cover;
      height: 400px;
    }

    .header-copy {
      z-index: 2;
      margin-top: -106px;
      margin-left: 542px;
      h1 {
        float: right;
        font-family: $head-type;
        font-size: 120px;
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 1;
        margin: 0 0 50px;

        &:hover {
          color: blue;
        }
      }
    }
  }
}

.ext-links {
  z-index: 10;
  background: rgba(black, 0.28);
  height: 100%;
  @include media(769px) {

  }
  ul {
    // text-align: right;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0 0;
    list-style: none;

    @include media(769px) {
      margin: 0 0 0 -40px;
      padding: 40px 0 0;
    }

    li {
      display: block;
      margin-bottom: 14px;
    }

    a {
      font-family: $head-type;
      font-size: 1.3em;
      font-weight: 700;
      color: black;
      background: $yellow;
      padding: 5px 8px;

      &:hover {
        color: blue;
      }
    }
  }
}

.projects {
  .work {
    @include span-columns(12);
    background: $yellow;
    overflow: hidden;

    img {
      opacity: 1;
    }

    .caption {
      opacity: 0;
      text-align: center;
      position: absolute;
      z-index: 6;
    }

    &:hover {
      .caption {
        opacity: 1;
      }
      img {
        opacity: 0.15;
      }
    }
  }
  @include media(769px) {
    .work {
      @include span-columns(4);
    }

    .caption {
      text-align: center;
      position: absolute;
      z-index: 6;
      

      h3 {
        margin: 0;
        padding: 8px 12px;
        font-family: $head-type;
        font-size: 1.8em;
        text-transform: uppercase;
      }
    }
  }
}