.work-page {
  padding: 5% 0 0;
  background: #eee;
}

.info-header {
  // border-bottom: 1px solid #eee;
  // border-top: 1px solid #eee;
  .work-title {
    text-transform: uppercase;
  }

  .work-description {
    @include span-columns(12);
  }

  margin: 28px 0px 32px;

  @media screen and (min-width: 768px) {
    @include clearfix;
    padding: 32px 0 22px;
    margin: 28px 0px 32px;

    .work-title {
      margin: 10px 0 0;
      font-size: 48px;
      // line-height: 1;
    }
  }
}

.details {
  margin: 42px 0 0;

  p {
    margin: 0 0 22px;
    line-height: 1.6;
  }

  @media screen and (min-width: 768px) {
    .services {
      float: left;
      @include span-columns(4);
    }
    .work-description {
      // float: right;
      @include span-columns(8);
      @include shift(2);
    }
  }
}

.meta {
  @include clearfix;
  padding: 16px 0;
  margin-bottom: 35px;
  border-top: 1px solid rgba(#FFFFFF, 0.1);
  border-bottom: 1px solid rgba(#FFFFFF, 0.1);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      padding: 0;
      margin-right: 5%;
    }
  }

  span {
    font-weight: 700;
  }
}

.support {
  background: #eee;
  padding: 5% 0;

  h1 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 16px;
  }

  @include media($desktop) {
    .thumbnail-web {
      @include span-columns(4);
    }
  }
}

.go-back {
  border-top: 1px solid #eee;
  padding: 25px 0;
  color: $hyperlink;

  &:hover {
    color: $hyperlink;
    background: #efefef;
  }
}

.mobile-work {
  @include span-columns(4);
  // margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    @include span-columns(4);
    margin-bottom: 0;
  }
}

.web-work {
  @include span-columns(12);

  img {
    display: table-cell;
  }
  // background: #eee;
  // padding: 1em;
}

// BACKGROUND COLOURS

#edm-republic {
  background-color: #E6368D;
}