// IMPORTS
@import
  'variables';

// BASE STYLES
html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: $body-colour;
  background: $body-background;
  font-family: $sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 700;
  color: $hyperlink;
  text-decoration: none;

  &:hover {
    color: $hyperlink-hover;
  }
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

::selection {
  color: $selection-colour;
  background: $selection-background;
}

::-moz-selection {
  color: $selection-colour;
  background: $selection-background;
 }

.container {
  @include outer-container($local-max-width: 1140px);
  overflow: hidden;
  padding: 0 1em;
}