// COLOURS
// -> maps($colours, orange)
$colours: (
	black: #111,
	white: #FFF,
  red: #F44336,
  pink: #E91E63,
  purple: #9C27B0,
  deep-purple: #673AB7,
  indigo: #3F51B5,
  blue: #2196F3,
  light-blue: #03A9F4,
  cyan: #00BCD4,
  teal: #009688,
  green: #4CAF50,
  light-green: #8BC34A,
  lime: #CDDC39,
  yellow: #FFEB3B,
  amber: #FFC107,
	orange: #FF9800,
  deep-orange: #FF5722,
  brown: #795548,
  grey: #9E9E9E,
  blue-grey: #607D8B
);

$blue: maps($colours, blue);
$em-colour: maps($colours, black);

// DEAFAULT
$hyperlink: maps($colours, black);
$hyperlink-hover: maps($colours, blue);

$selection-colour: maps($colours, white);
$selection-background: maps($colours, black);

$button-primary: maps($colours, blue);
$button-primary-hover: maps($colours, blue);

//BODY
$body-colour: maps($colours, black);
$body-background: maps($colours, white);
$body-font: 1em/1.6 400 $helvetica;

//HEADER
// $header-colour: maps($colours, blue);
// $header-background: maps($colours, blue);

// LOGO COLOUR
$logo-color: maps($colours, black);
$logo-color-hover: maps($colours, blue);

// BREAKPOINTS
$mobile-size:em(320);
$tablet-size:720px;
$desktop-size:em(960);
$largedesktop-size:em(1050);

$mobile: new-breakpoint(min-width $mobile-size 4);
$tablet: new-breakpoint(min-width $tablet-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 16);