footer {
  border-top: 1px solid #eee;
  padding: 40px 0;
  font-size: 0.9em;
  text-align: center;

  #recentTrack {
    display: none;
  }

  @include media ($desktop) {
    font-size: 1em;
    text-align: left;

    .copyright {
      float: left;
    }

    #recentTrack {
      display: block;
      float: right;

      .soundwave {
        position: relative;
      top: 3px;
      float: left;
      margin-right: 8px;
      width: 14px;
      height: 14px;
      background-image: url("https://dl.dropboxusercontent.com/u/68882376/img/soundwave-black.gif");
      }

      .song-title {
        display: inline-block;
      }

      .song-artist{
        display: inline;

        &:before {
          content: " - ";
        }
      }
    }
  }
}