.main-nav {
  @include span-columns(12);
  
  li {
    display: inline-block;
    padding: 0;
    margin: 18px 16px 0 16px;
  }

  a {
    font-size: 1.2em;
  }

  @include media ($desktop) {
    @include span-columns(6);
    padding-top: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
    text-align: right;
    
    li {
      display: inline-block;
      padding: 0;
      margin: 8px 30px 0 0;

      &:hover {

        // @include animation(hover 0.9s ease-in-out infinite alternate);
        
        .twitter {
          color: #4099FF;
        }
        .dribbble {
          color: #E84F89;
        }
        .deviantart {
          color: #62AB77;
        }
        .linkedin {
          color: #2588BC;
        }
        .email {
          color: #2516c7;
        }
      }
    }

    a {
      font-size: 1.2em;
    }
  }
}